header {
    background-color: rgb(100, 100, 100);
    position: fixed;
    top: 0;
    height: 10.764262648vh;
    width: 100vw;
    left: 0;
    font-family: sans-serif;
}

header img {
    position: absolute;
    left: 0.6vw;
    height: 8.9vh;
    top: 0.7vh;
}

header h1 {
    color: rgb(0, 0, 0);
    font-size: 4.14876376481vh;
    position: absolute;
    top: 0.2vh;
    left: 5.5vw;
}

body {
    width: 99.4vw;
    background-color: rgb(161, 161, 161);
    position: absolute;
    top: 10.764262648vh;
}

p {
    color: black;
}

.container {
    position: absolute;
    top: 2.5vh;
    height: 6vh;
    width: 8vw;
    display: inline-block;
    background-color: rgb(230, 230, 230);
    border-radius: 0.5vh;
    padding: 0.1vh 0.5vw 0 1vw;
}

.container h3 {
    margin: 0.5vh 0 0 0;
    font-size: 3.5vh;
    width: 5vw;
}

#apps_container {
    left: 70vw;
}

#games_container {
    left: 80vw;
}

.bar1, .bar2{
    position: relative;
    top: -4vh;
    display: inline-block;
    width: 1vw;
    height: 0.5vh;
    background-color: #333;
    transition: 0.4s;
}

.bar1 {
    left: 6vw;
    transform: rotate(45deg);
}

.bar2 {
    left: 5.3vw;
    transform: rotate(-45deg);
}

.container:hover {
    background-color: rgb(200, 200, 200);
    border-radius: 0.5vh 0.5vh 0 0;
}

.container:hover .bar1 {
    transform: rotate(-45deg);
}

.container:hover .bar2 {
    transform: rotate(45deg);
}

.menu_list {
    padding-top: 1vh;
    position: relative;
    width: 9.5vw;
    background-color: rgb(200, 200, 200);
    border-radius: 0 0 0.5vh 0.5vh;
    display: none;
}

.menu_list a {
    display: inline-block;
    margin: 1vh 0.5vw 1vh 0.5vw;
}

#apps_menu {
    top: -2vh;
    left: -1vw;
}

.container:hover .menu_list {
    display: inline-block;
}
