header {
    background-color: rgb(100, 100, 100);
    position: fixed;
    top: 0;
    height: 10.764262648vh;
    width: 100vw;
    left: 0;
    font-family: sans-serif;
}

header img {
    position: absolute;
    left: 40vw;
    height: 8.2vh;
    top: 1.1vh;
}

header h1 {
    font-size: 4.14876376481vh;
    position: absolute;
    top: 0.2vh;
    left: 45vw;
}

body {
    width: 99.4vw;
    background-color: rgb(161, 161, 161);
    position: absolute;
    top: 10.764262648vh;
}

p {
    color: black;
}

.container {
    width: 2.56222547584vw;
    height: 5.6721379597vh;
    position: absolute;
    margin: 1.62061084563vh;
    bottom: 0;
    right: 0.25vw;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2.56222547584vw;
    height: 0.83030542281vh;
    background-color: #333;
    margin: 1.08040723042vh 0;
    transition: 0.4s;
}

.bar1 {
    margin: 0.5402036152vh 0 1.08040723042vh;
}

.bar3 {
    margin: 1.08040723042vh 0 0.5402036152vh;
}

.clicked .bar1 {
    transform: translate(0, 2.2vh) rotate(-45deg);
    margin: 0;
}

.clicked .bar2 {
    opacity: 0;
}

.clicked .bar3 {
    transform: translate(0, -1.7vh) rotate(45deg);
    margin: 0;
}

#menu {
    width: 10vw;
    background-color: rgb(130, 130, 130);
    position: fixed;
    top: 12vh;
    right: -10vw;
    float: right;
    transition: 0.5s;
}

#menu a {
    display: block;
    font-family: Arial;
    font-size: 2vh;
    padding: 2.10679409932vh;
    background-color: rgb(50, 50, 50);
    color: rgb(200, 200, 200);
    text-decoration: none;
}

#menu a:hover {
    background-color: rgb(50, 50, 50, 0.1);
}

#menu a#onThisPage {
    background-color: rgb(100, 100, 100);
}

#menu.shown {
    transform: translate(-10vw, 0);
}